# Copyright (c) 2023 CATIE
# SPDX-License-Identifier: Apache-2.0

config SHIELD_ZEST_SENSOR_IMU
	def_bool $(shields_list_contains,zest_sensor_imu)
	select I2C

config SHIELD_ZEST_SENSOR_IMU_ALT
	def_bool $(shields_list_contains,zest_sensor_imu_alt)
	select I2C
