/*
 * Copyright (c) 2023 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <zephyr/dt-bindings/gpio/sixtron-header.h>
 
/ {
	aliases {
		bme280 = &bme280_zest_sensor_imu;
		bno055 = &bno0550;
		iis2dlpc = &iis2dlpc_zest_sensor_imu;
	};
};

&sixtron_i2c {
	status = "okay";

	bme280_zest_sensor_imu: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
	};

	bno0550: bno055@28 {
		compatible = "bosch,bno055";
		reg = <0x28>;
		irq-gpios = <&sixtron_connector WKUP (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		use_xtal;
		zephyr,deferred-init;
	};
	
	iis2dlpc_zest_sensor_imu : iis2dlpc@33 {
		compatible = "st,iis2dlpc";
		reg = <0x33>; 
	};
};
