/*
 * Copyright (c) 2023 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <zephyr/dt-bindings/gpio/sixtron-header.h>
 
/ {
	aliases {
		bme280 = &bme280_zest_sensor_imu;
		bno055 = &bno055_i2c_28;
		bno055_alt = &bno055_i2c_29;
		iis2dlpc = &iis2dlpc_zest_sensor_imu;
	};
};

&sixtron_i2c {
	status = "okay";

	bme280_zest_sensor_imu: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
	};

	bno055_i2c_28: bno055@28 {
		compatible = "bosch,bno055";
		reg = <0x28>; // R36 (V_1.0.2) | R14 (V_3.1.0)
		use_xtal = <1>;
	};

	bno055_i2c_29: bno055@29 {
		compatible = "bosch,bno055";
		reg = <0x29>; // R35 (V_1.0.2) | R11 (V_3.1.0)
		use_xtal = <1>;
	};
	
	iis2dlpc_zest_sensor_imu : iis2dlpc@33 {
		compatible = "st,iis2dlpc";
		reg = <0x33>; 
	};
};
