/*
 * Copyright (c) 2023 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/sixtron-header.h>

#define PERIPHERAL_ZEST_SENSOR_IMU_ALT(port) \
	i2c_zest_sensor_imu_##port: &sixtron_connector_##port##_i2c {};

#define DRIVERS_ZEST_SENSOR_IMU_ALT(port, ism330dhcx_irq, iis2mdc_irq) \
	&i2c_zest_sensor_imu_##port { \
		status = "okay"; \
		ism330dhcx_zest_sensor_imu_##port: ism330dhcx##port@6a { \
			compatible = "st,ism330dhcx"; \
			drdy-gpios = <&sixtron_connector_##port ism330dhcx_irq (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; \
			reg = <0x6a>; \
		}; \

		iis2mdc_zest_sensor_imu_##port: iis2mdc##port@1e { \
			compatible = "st,iis2mdc"; \
			status = "disabled"; \
			drdy-gpios = <&sixtron_connector_##port iis2mdc_irq (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; \
			reg = <0x1e>; \
		}; \
	};

#define ZEST_SENSOR_IMU_4_0_0_ALT(port, ism330dhcx_irq, iis2mdc_irq) \
	PERIPHERAL_ZEST_SENSOR_IMU_ALT(port) \
	DRIVERS_ZEST_SENSOR_IMU_ALT(port, ism330dhcx_irq, iis2mdc_irq)
